.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75;
}

.mainContent {
    width: 100%;
    height: 92vh;
}

.authFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authFrame .el-form-item,
.authFrame .el-form-item .el-button,
.authFrame .el-form-item .el-input,
.authFrame .el-form-item .el-input__inner {
    width: 100%;
}

.el-textarea__inner {
    resize: none !important;
  }
